* {
  margin: 0;
  padding: 0;
}

body {
  background: #1E1E1E;
  overflow-x: hidden;
}
body .large-white-text, body .footer .text-shape-wrapper, body .text-shape-wrapper, body .page3 .btn-text-wrapper, body .page1 {
  font-weight: 600;
  font-size: 42px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 40px;
}
body .small-white-text, body .footer .footer-text, body .page5 .icon-text-wrapper, body .card2-wrapper .card2, body .page2 .icon-text-wrapper, body .wrapper {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
body .red-text, body .wrapper .hero-table .bordered {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #DB3138;
}
body .text, body .page5 .icon-text-wrapper, body .page5 .arrow-text-wrapper, body .card2-wrapper .card2, body .page2, body .page1 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  margin-top: 30px;
}
body .white-text, body .footer, body .card2-wrapper .card2, body .card-wrapper .card, body .page1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px;
}
body .wrapper {
  background: url(./img/car.png);
}
body .wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 100px;
}
body .wrapper header .nav-items-wrapper {
  display: flex;
  list-style: none;
  gap: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
body .wrapper .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
  text-align: center;
}
body .wrapper .hero .big-red-text {
  font-weight: 700;
  font-size: 150px;
  line-height: 125%;
  text-align: center;
  color: #DB3138;
}
body .wrapper .big-white-text {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
}
body .wrapper .red-bordered-text {
  border: 1px solid #DB3138;
  padding: 15px 0px 15px 25px;
  background-color: #DB3138;
  margin-bottom: 40px;
  display: inline-block;
}
body .wrapper .hero-table {
  display: flex;
  text-align: center;
}
body .wrapper .hero-table .bordered {
  border: 1px solid #FFFFFF;
  padding: 50px 100px;
  opacity: 0.5;
  width: 350px;
}
body .wrapper .hero-table .bordered .white-text, body .wrapper .hero-table .bordered .footer, body .wrapper .hero-table .bordered .card2-wrapper .card2, body .card2-wrapper .wrapper .hero-table .bordered .card2, body .wrapper .hero-table .bordered .card-wrapper .card, body .card-wrapper .wrapper .hero-table .bordered .card, body .wrapper .hero-table .bordered .page1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 20px;
}
body .page1 {
  display: flex;
  margin: 100px 50px;
  gap: 24px;
}
body .page1 .box-item-wrapper {
  display: flex;
}
body .page1 .box-item-wrapper .box-item2 {
  margin-top: 110px;
}
body .page1 .box-item-wrapper .gray-bordered-box {
  border: 1px solid #898989;
  padding: 31px 25px 0 25px;
  text-align: center;
  height: 177px;
  vertical-align: middle;
}
body .page1 .box-item-wrapper .gray-bordered-box .red-text, body .page1 .box-item-wrapper .gray-bordered-box .wrapper .hero-table .bordered, body .wrapper .hero-table .page1 .box-item-wrapper .gray-bordered-box .bordered {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #DB3138;
}
body .card-wrapper {
  display: flex;
  margin-bottom: 100px;
  gap: 40px;
  margin: 100px 70px;
}
body .card-wrapper .card {
  position: relative;
  text-align: center;
}
body .card-wrapper .card .red-bg-text {
  position: absolute;
  border: 1px solid #DB3138;
  padding: 35px 20px 0px 20px;
  background-color: #DB3138;
  margin-bottom: 40px;
  top: 291px;
  left: 30px;
}
body .page2 {
  margin: 50px 70px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
body .page2 .icon-text-wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}
body .page2 .shape-img {
  margin: 20px 200px;
}
body .page2 .arrow-text-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
body .page3 .btn-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .page3 .btn-wrapper {
  display: flex;
  align-items: center;
  gap: 70px;
}
body .page3 .btn-wrapper .red-bg {
  border: none;
  padding: 20px 40px 10px 40px;
  text-align: center;
  background: #DB3138;
}
body .page3 .btn-wrapper .text2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}
body .card2-wrapper {
  margin: 90px 30px 20px 30px;
  display: flex;
  gap: 10px;
  justify-content: center;
}
body .card2-wrapper .card2 {
  border: 1px solid #898989;
  padding: 60px 40px 50px 40px;
  text-align: center;
  justify-content: center;
}
body .card2-wrapper .card2 .red-bordered-text {
  border: 1px solid #DB3138;
  padding: 15px 0px 15px 25px;
  background-color: #DB3138;
  margin-bottom: 40px;
  display: inline-block;
}
body .page5 {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px;
  gap: 70px;
}
body .page5 .arrow-text-wrapper {
  display: flex;
  align-items: end;
  gap: 10px;
}
body .page5 .shape-img {
  margin: 20px 200px 0 200px;
}
body .page5 .icon-text-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
body .page5 .icon-text-wrapper .shape-img {
  margin: 30px 0;
  padding-left: 200px;
  height: 15px;
}
body .text-shape-wrapper {
  margin-top: 160px;
  text-align: center;
}
body .shape-img2 {
  height: 15px;
  margin: 0 0 40px 0;
}
body .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .footer .text-shape-wrapper {
  margin-top: 160px;
  text-align: center;
}
body .footer .input-wrapper .input-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #141414;
  border: 1px solid #DB3138;
  margin-right: 20px;
  padding: 15px 30px 10px 25px;
}
body .footer .input-wrapper .input-number {
  background: #141414;
  border: 1px solid #898989;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #898989;
  padding: 15px 30px 10px 25px;
}
body .footer .contact-div {
  display: flex;
  align-items: start;
  gap: 90px;
}
body .footer .contact-div .textarea {
  height: 150px;
  width: 600px;
  background: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #898989;
  padding: 15px 0 0 25px;
}
body .footer .footer-text {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-top: 50px;
}
body .footer .footer-text .red-bordered-text {
  border: 1px solid #DB3138;
  padding: 15px 0px 15px 25px;
  background-color: #DB3138;
  margin-bottom: 40px;
  display: inline-block;
}
body .footer .icon-wrapper {
  display: flex;
  gap: 20px;
}
body .footer .icon-wrapper .icon-footer {
  margin-right: 10px;
}
body .footer .copyright {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  border-top: 1px solid #898989;
  padding: 30px 0;
}
body .footer .copyright .gray-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
}
body .footer .footer-items-wrapper {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: 300;
  font-size: 19px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */